<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h5 class="container offset" th:text="${category.name}"></h5>
<div class="container">
    <div class="row mb-4">
        <div>
            <form action="/editCategory" method="post">
                <div class="form-group">
                    <input type="hidden" name="id" th:value="${category.id}">
                    <label>Edit category</label>
                    <input type="text" name="category" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>

    <div>

    </div>
</div>

</body>
</html>